pandas>=2.0.0
numpy>=1.20.0
kagglehub>=0.2.0
ydata-profiling>=4.0.0
matplotlib>=3.5.0
seaborn>=0.11.0
scikit-learn>=1.0.0 # Make sure scikit-learn is included for OrdinalEncoder, OneHotEncoder
category_encoders>=2.0.0
gradio
tensorflow>=2.7.0
joblib>=1.1.0
scikeras>=0.5.0 # 

joblib 
scikeras 
shap  
keras-tuner 
wandb